body {
  background-color: #171a29;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  overflow: hidden;
  background-color: #171a2960;
  backdrop-filter: blur(6px);
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 12px;
  gap: 8px;
}

.current {
  // font-weight: 900;
  // color: black;
  background-color: white;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 12px;
  gap: 8px;
}

.slider {
  // width: 100%;
  max-width: 320px;
}

.canvas {
  width: 100%;
  flex-grow: 1;
}
