.root {
  --bg: var(--c-acc-btn-normal);

  background-color: var(--c-acc-surface-normal);
  border: 1px solid var(--c-acc-divider);
  color: var(--c-acc-text-primary);

  // Size
  padding: 24px;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: relative;
  isolation: isolate;
  border-radius: var(--r-l);
}
